#box{
    width: 250px;
    height: 250px;
    background-color: red;
    font-size: 13em;
    text-align: center;
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes slideLight{
    to{transform:translateX(300px)}
}
@keyframes slideRight{
    to{transform:translateY(300px)}
}
@keyframes slideUp{
    from{transform:translateY(300px)}
}
@keyframes slideDown{
to{transform: translateY(300%)}
}
@keyframes rotate{
    25%{transform: rotateZ(360deg)}
}
@keyframes grow{
    50%{transform: scale(2,2)}

}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
    
}
@keyframes fade{
    100%{opacity: 0}
    
}
}